<section class="bg-pgfy-gray-500 py-10 md:py-20 lg:py-28">
    <div class="container">
      <div class="flex justify-between gap-6 max-md:flex-col">
        <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] w-full text-white max-md:text-center md:max-w-[490px]">
  
          <span> Recognised and </span>
          <span class="text-pgfy-primary-500">awarded</span>
          <span>for a reason </span>
        
</h1>

        <p class="w-full text-pgfy-wireframe-50 max-md:text-center md:max-w-[490px] md:text-lg">
          Front's support team consistently achieves best-in-class CSAT, earning
          top marks for customer satisfaction. Their unwavering dedication to
          delivering exceptional service.
        </p>
      </div>

      <div class="mx-auto mt-8 md:mt-12 lg:mt-16">
        <table class="w-full table-auto border-collapse">
          <!-- Table Header -->
          <thead>
            <tr class="border-b border-pgfy-wireframe-50/10 text-left text-lg text-white md:text-xl">
              <th class="pb-6 font-bold">Project</th>
              <th class="pb-6 font-bold">Award</th>
              <th class="w-12 pb-6 font-bold">Year</th>
            </tr>
          </thead>
          <!-- Table Body -->
          <tbody class="text-pgfy-gray-50 md:text-lg">
            <tr>
              <td class="border-b border-pgfy-wireframe-50/10 py-6 font-medium">Grateful for diversity</td>
              <td class="border-b border-pgfy-wireframe-50/10">Awwwards SOTD</td>
              <td class="border-b border-pgfy-wireframe-50/10">2023</td>
            </tr>
            <tr>
              <td class="border-b border-pgfy-wireframe-50/10 py-6 font-medium">Honourable Mention</td>
              <td class="border-b border-pgfy-wireframe-50/10">Awwwards SOTD</td>
              <td class="border-b border-pgfy-wireframe-50/10">2022</td>
            </tr>
            <tr>
              <td class="border-b border-pgfy-wireframe-50/10 py-6 font-medium">Lost in Losses</td>
              <td class="border-b border-pgfy-wireframe-50/10">CSS Design Awards</td>
              <td class="border-b border-pgfy-wireframe-50/10">2022</td>
            </tr>
            <tr>
              <td class="border-b border-pgfy-wireframe-50/10 py-6 font-medium">Site of the day</td>
              <td class="border-b border-pgfy-wireframe-50/10">Webflow Showcase</td>
              <td class="border-b border-pgfy-wireframe-50/10">2021</td>
            </tr>
            <tr>
              <td class="border-b border-pgfy-wireframe-50/10 py-6 font-medium">Customers Satisfaction</td>
              <td class="border-b border-pgfy-wireframe-50/10">Awwwards SOTM</td>
              <td class="border-b border-pgfy-wireframe-50/10">2021</td>
            </tr>
            <tr>
              <td class="border-b border-pgfy-wireframe-50/10 py-6 font-medium">Top Customers Service</td>
              <td class="border-b border-pgfy-wireframe-50/10">Awwwards Developer Award</td>
              <td class="border-b border-pgfy-wireframe-50/10">2020</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>