<section class="py-10 md:py-20 lg:py-28 bg-pgfy-gray-500 text-white">
  <div class="container">
    <div class="mx-auto mb-10 w-full text-center md:max-w-[538px] lg:mb-16">
      <p class="text-base font-bold">Testimonials</p>
      <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] mt-4 capitalize">
  
        <span>What Client say about</span>
        <span class="text-pgfy-primary-500">our Business</span>
      
</h1>
    </div>

    <div class="flex items-center gap-8 max-md:flex-col md:gap-10 lg:gap-20">
      <div class="flex max-h-[480px] w-full min-w-[370px] items-end justify-center md:max-w-[470px] rounded-2xl bg-pgfy-gray-400">
        <img src="https://static.pagifye.com/root/images/testimonial/testimonial-v2-user-left.png" alt="testimonial" class="object-cover object-bottom">
      </div>

      <div class="grow space-y-8 md:space-y-16">
        <div>
          <img src="https://static.pagifye.com/root/images/testimonial/testimonial-v2-logo-white.svg" alt="quote">

          <p class="mt-6 text-2xl font-bold italic md:mt-10">
            "I cannot thank Pagifye website builder enough for their exceptional
            service. From the moment I walked in, I felt welcomed and valued."
          </p>
          <p class="mt-6">
            <span class="font-bold">Amber Stone,</span> Head of Enterprise, UserTesting
          </p>
        </div>

        <div class="flex gap-4">
          <div class="rounded-full border-2 border-pgfy-primary-500">
            <img src="https://static.pagifye.com/root/images/testimonial/testimonial-v2-user-1.svg" alt="testimonial" class="cursor-pointer rounded-full p-0.5 ">
          </div>
          <img src="https://static.pagifye.com/root/images/testimonial/testimonial-v2-user-2.svg" alt="testimonial" class="cursor-pointer ">
          <img src="https://static.pagifye.com/root/images/testimonial/testimonial-v2-user-3.svg" alt="testimonial" class="cursor-pointer ">
        </div>
      </div>
    </div>
  </div>
</section>