<section class="bg-pgfy-gray-500 py-10 md:py-20 lg:py-28">
    <div class="container">
      <p class="mx-auto mb-4 text-center text-base font-bold uppercase text-white">
        CUSTOMER SUPPORT
      </p>

      <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] mx-auto w-full text-center capitalize text-white md:max-w-[832px]">
  
        <span>Unlock </span>
        <span class="text-pgfy-primary-500">Your Business</span>
        <span>Potential with Our Innovative SaaS Tools </span>
      
</h1>

      <div class="mt-8 grid grid-cols-2 gap-6 text-center md:mt-16 md:grid-cols-4">
        <div class="max-sm:text-center">
  <p class="font-bold text-[42px] leading-[48px] lg:text-6xl lg:leading-[68px] text-white">
    100<span class="text-pgfy-primary-500">%</span>
  </p>
  <p class="text-pgfy-wireframe-100 md:text-lg text-base font-bold mt-4">
    Client satisfaction
  </p>
</div>

        <div class="max-sm:text-center">
  <p class="font-bold text-[42px] leading-[48px] lg:text-6xl lg:leading-[68px] text-white">
    24<span class="text-pgfy-primary-500">h</span>
  </p>
  <p class="text-pgfy-wireframe-100 md:text-lg text-base font-bold mt-4">
    Claim resolution time
  </p>
</div>

        <div class="max-sm:text-center">
  <p class="font-bold text-[42px] leading-[48px] lg:text-6xl lg:leading-[68px] text-white">
    08<span class="text-pgfy-primary-500">+</span>
  </p>
  <p class="text-pgfy-wireframe-100 md:text-lg text-base font-bold mt-4">
    Years Experience
  </p>
</div>

        <div class="max-sm:text-center">
  <p class="font-bold text-[42px] leading-[48px] lg:text-6xl lg:leading-[68px] text-white">
    $4<span class="text-pgfy-primary-500">m</span>
  </p>
  <p class="text-pgfy-wireframe-100 md:text-lg text-base font-bold mt-4">
    in pure profits
  </p>
</div>
      </div>
    </div>
  </section>