<section class="bg-pgfy-gray-500 py-10 md:py-28">
    <div class="container">
      <div class="mx-auto w-full space-y-4 text-center text-white md:max-w-[832px]">
        <h2 class="font-bold uppercase">our team</h2>
        <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] undefined">
  
          <span>We are a</span>
          <span class="text-pgfy-primary-500">team with love</span>
        
</h1>
        <p class="md:text-lg">
          To solve the world’s biggest problems, we need all kinds of
          perspectives. That’s why our leadership team brings together experts
          in food, tech, and sustainability.
        </p>
      </div>

      <div class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 md:mt-10 lg:mt-16 lg:grid-cols-3">
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model1.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Alex Younes</p>
    <p>Founder &amp; CEO</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model2.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Mark Zuckerberg</p>
    <p>Chief Product Officer</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model3.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Mandale Schumacher</p>
    <p>Strategic Partnerships</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model4.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Guy Hawkins</p>
    <p>President of Sales</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model5.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Jenny Wilson</p>
    <p>Marketing Coordinator</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model6.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Jacob Jones</p>
    <p>Web Designer</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model7.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Alex Younes</p>
    <p>Founder &amp; CEO</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model8.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Mark Zuckerberg</p>
    <p>Chief Product Officer</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
        <div class="group relative h-[426px] w-full overflow-hidden rounded-xl sm:max-w-[370px] md:rounded-2xl rounded-lg">
  <div class="absolute inset-y-0 left-0 w-full bg-gradient-to-t from-pgfy-gray-500/70 to-transparent max-sm:mt-auto max-sm:h-3/4"></div>

  <img class="size-full object-cover object-top" src="https://static.pagifye.com/root/images/team/team4model9.png" alt="Team member">

  <div class="absolute bottom-0 p-6 transition-all duration-300 ease-in-out group-hover:bottom-0 md:-bottom-[50px] text-white">
    <p class="mb-1 text-xl font-bold md:text-2xl">Mandale Schumacher</p>
    <p>Strategic Partnerships</p>

    <div class="mt-4 flex items-center gap-2 transition-opacity duration-300 ease-in-out group-hover:opacity-100 md:opacity-0">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full bg-white transition duration-300 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github">
      </a>
    </div>
  </div>
</div>
      </div>
    </div>
  </section>