<section class="bg-pgfy-gray-500 py-10 md:py-20 lg:py-28">
    <div class="container">
      <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] mx-auto w-full max-w-[734px] text-center capitalize text-white">
  
        <span>Keep updated with our Space</span>
        <span class="text-pgfy-primary-500">management blog</span>
      
</h1>

      <div class="mt-8 flex gap-6 max-lg:flex-col md:mt-12 lg:mt-16">
        <div class="w-full overflow-hidden p-5 md:p-6 w-full lg:max-w-[470px]
    false 
    rounded-2xl bg-pgfy-gray-400
    false
    false
  ">
  <div class="h-[300px] w-full overflow-hidden sm:h-[370px] lg:max-w-[422px]">
    <img class="size-full object-cover object-center 
        rounded-lg" src="https://static.pagifye.com/root/images/blog/blog-model1.png">
  </div>

  <p class="mt-6 
        false 
        text-white
        false
        false">
    Leslie Alexander . 9 min
  </p>

  <h4 class="my-4 text-xl font-bold md:text-2xl
    false
    text-white
    false
    false">
    Top 7 Financial Mistakes New Entrepreneurs Make and How to Avoid Them
  </h4>

  <button class="flex select-none items-center gap-1 rounded-full px-8 py-3 text-base font-bold
    transition duration-300 ease-in-out text-pgfy-gray-500 bg-pgfy-primary-500 hover:bg-pgfy-primary-600">
    <span>Start Now</span>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="text-pgfy-gray-500" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.5383 10.6635L11.9133 16.2885C11.7372 16.4647 11.4983 16.5636 11.2492 16.5636C11.0001 16.5636 10.7613 16.4647 10.5852 16.2885C10.409 16.1124 10.3101 15.8736 10.3101 15.6245C10.3101 15.3754 10.409 15.1365 10.5852 14.9604L14.6094 10.9378H3.125C2.87636 10.9378 2.6379 10.839 2.46209 10.6632C2.28627 10.4874 2.1875 10.2489 2.1875 10.0003C2.1875 9.75162 2.28627 9.51316 2.46209 9.33735C2.6379 9.16153 2.87636 9.06276 3.125 9.06276H14.6094L10.5867 5.03776C10.4106 4.86164 10.3117 4.62277 10.3117 4.3737C10.3117 4.12462 10.4106 3.88575 10.5867 3.70963C10.7628 3.53351 11.0017 3.43457 11.2508 3.43457C11.4999 3.43457 11.7387 3.53351 11.9148 3.70963L17.5398 9.33463C17.6273 9.42185 17.6966 9.52547 17.7438 9.63955C17.7911 9.75364 17.8153 9.87593 17.8152 9.99941C17.815 10.1229 17.7905 10.2451 17.743 10.3591C17.6955 10.4731 17.6259 10.5765 17.5383 10.6635Z" fill="pgfy-gray-500"></path>
    </svg>
  </button>
</div>

        <div class="grid w-full grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-1">
          <div class="group flex cursor-pointer gap-5 overflow-hidden p-5 transition-colors duration-300 max-lg:flex-col md:items-center md:p-6
    false 
    rounded-2xl bg-pgfy-gray-400 text-white hover:bg-pgfy-primary-500
    false
    false
  ">
  <div class="w-full overflow-hidden max-lg:h-[300px] lg:h-[150px] lg:max-w-[208px]">
    <img class="size-full object-cover object-center 
        rounded-lg" src="https://static.pagifye.com/root/images/blog/blog-model2.png">
  </div>

  <div>
    <p class="pb-4 text-white transition-colors duration-300 group-hover:text-pgfy-gray-500">
      Leslie Alexander . 9 min
    </p>

    <a href="#top" class="text-xl font-bold md:text-2xl text-white transition-colors duration-300 group-hover:text-pgfy-gray-500">
      Investing 101: Building Wealth with a Strategic Investment Plan
    </a>
  </div>
</div>
          <div class="group flex cursor-pointer gap-5 overflow-hidden p-5 transition-colors duration-300 max-lg:flex-col md:items-center md:p-6
    false 
    rounded-2xl bg-pgfy-gray-400 text-white hover:bg-pgfy-primary-500
    false
    false
  ">
  <div class="w-full overflow-hidden max-lg:h-[300px] lg:h-[150px] lg:max-w-[208px]">
    <img class="size-full object-cover object-center 
        rounded-lg" src="https://static.pagifye.com/root/images/blog/blog-model3.png">
  </div>

  <div>
    <p class="pb-4 text-white transition-colors duration-300 group-hover:text-pgfy-gray-500">
      Leslie Alexander . 9 min
    </p>

    <a href="#top" class="text-xl font-bold md:text-2xl text-white transition-colors duration-300 group-hover:text-pgfy-gray-500">
      How to Create a Bulletproof Financial Plan for Your Business
    </a>
  </div>
</div>
          <div class="group flex cursor-pointer gap-5 overflow-hidden p-5 transition-colors duration-300 max-lg:flex-col md:items-center md:p-6
    false 
    rounded-2xl bg-pgfy-gray-400 text-white hover:bg-pgfy-primary-500
    false
    false
  ">
  <div class="w-full overflow-hidden max-lg:h-[300px] lg:h-[150px] lg:max-w-[208px]">
    <img class="size-full object-cover object-center 
        rounded-lg" src="https://static.pagifye.com/root/images/blog/blog-model4.png">
  </div>

  <div>
    <p class="pb-4 text-white transition-colors duration-300 group-hover:text-pgfy-gray-500">
      Leslie Alexander . 9 min
    </p>

    <a href="#top" class="text-xl font-bold md:text-2xl text-white transition-colors duration-300 group-hover:text-pgfy-gray-500">
      Why Cash Flow Management is Key to Business Success
    </a>
  </div>
</div>
        </div>
      </div>
    </div>
  </section>