<section class="bg-pgfy-gray-500 py-10 md:py-20 lg:py-28">
    <div class="container">
      <div class="flex items-center justify-between gap-6 rounded-lg bg-pgfy-gray-400 p-10 max-sm:flex-col">
        <div class="w-[260px] text-center">
  <p class="font-bold text-[42px] leading-[48px] lg:text-6xl lg:leading-[68px] text-pgfy-primary-500">
    2016<span class="text-pgfy-wireframe-300"></span>
  </p>
  <p class="text-pgfy-wireframe-100 undefined font-bold mt-4">
    Founded
  </p>
</div>
        <div class="w-[260px] text-center">
  <p class="font-bold text-[42px] leading-[48px] lg:text-6xl lg:leading-[68px] text-pgfy-primary-500">
    $18<span class="text-pgfy-wireframe-300"></span>
  </p>
  <p class="text-pgfy-wireframe-100 undefined font-bold mt-4">
    Total funding
  </p>
</div>
        <div class="w-[260px] text-center">
  <p class="font-bold text-[42px] leading-[48px] lg:text-6xl lg:leading-[68px] text-pgfy-primary-500">
    35<span class="text-pgfy-wireframe-300"></span>
  </p>
  <p class="text-pgfy-wireframe-100 undefined font-bold mt-4">
    Team members
  </p>
</div>
        <div class="w-[260px] text-center">
  <p class="font-bold text-[42px] leading-[48px] lg:text-6xl lg:leading-[68px] text-pgfy-primary-500">
    17<span class="text-pgfy-wireframe-300"></span>
  </p>
  <p class="text-pgfy-wireframe-100 undefined font-bold mt-4">
    Nationalities
  </p>
</div>
      </div>
    </div>
  </section>