<section class="bg-pgfy-gray-500 py-10 md:py-20 lg:py-28">
    <div class="container space-y-8 md:space-y-12">
      <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] mx-auto w-full text-center text-white md:max-w-[538px]">
  <span>What Client say about</span>
        <span class="text-pgfy-primary-500">our Business</span>
</h1>

      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:gap-[30px] lg:grid-cols-3">
        <div class="p-5 md:p-[30px] rounded-2xl bg-pgfy-gray-400 text-white">
  <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo1.svg" alt="logo">

  <p class="mt-4 text-lg font-bold italic md:text-xl">“Mauris ante augue, porta sit amet ex at, pellentesque blandit risus. Nam at imperdiet elit. Sed aliquam, lorem in rhoncus interdum, ante lectus convallis odio, non ullamcorper urna mauris ”</p>

  <div class="mt-10 flex gap-2.5">
    <img src="https://static.pagifye.com/root/images/testimonial/testimonial4img1.png" alt="user profile" class="size-11 rounded-full">
    <div class="space-y-[2px]">
      <p class="text-lg font-bold">Ronald Richards</p>
      <p class="text-xs">Dog Trainer</p>
    </div>
  </div>
</div>
        <div class="p-5 md:p-[30px] rounded-2xl bg-pgfy-gray-400 text-white">
  <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo2.svg" alt="logo">

  <p class="mt-4 text-lg font-bold italic md:text-xl">“Proin eget euismod nisi. Vestibulum pretium, velit tincidunt congue gravida, erat ligula venenatis velit, ac tempus augue ligula a libero. Proin cursus, ante sodales pulvinar accumsan, massa ante pulvinar.”</p>

  <div class="mt-10 flex gap-2.5">
    <img src="https://static.pagifye.com/root/images/testimonial/testimonial4img2.png" alt="user profile" class="size-11 rounded-full">
    <div class="space-y-[2px]">
      <p class="text-lg font-bold">Devon Lane</p>
      <p class="text-xs">Dog Trainer</p>
    </div>
  </div>
</div>
        <div class="p-5 md:p-[30px] rounded-2xl bg-pgfy-gray-400 text-white">
  <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo3.svg" alt="logo">

  <p class="mt-4 text-lg font-bold italic md:text-xl">“Mauris ante augue, porta sit amet ex at, pellentesque blandit risus. Nam at imperdiet elit. Sed aliquam, lorem in rhoncus interdum, ante lectus convallis odio, non ullamcorper urna mauris ”</p>

  <div class="mt-10 flex gap-2.5">
    <img src="https://static.pagifye.com/root/images/testimonial/testimonial4img3.png" alt="user profile" class="size-11 rounded-full">
    <div class="space-y-[2px]">
      <p class="text-lg font-bold">Jane Cooper</p>
      <p class="text-xs">Dog Trainer</p>
    </div>
  </div>
</div>
        <div class="p-5 md:p-[30px] rounded-2xl bg-pgfy-gray-400 text-white">
  <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo4.svg" alt="logo">

  <p class="mt-4 text-lg font-bold italic md:text-xl">“Nulla id ex felis. Mauris non ipsum finibus, ornare orci a, pulvinar ante. Morbi fringilla nulla sit amet congue bibendum. Vivamus turpis justo, dictum non nulla quis, facilisis commodo arcu. Aenean”</p>

  <div class="mt-10 flex gap-2.5">
    <img src="https://static.pagifye.com/root/images/testimonial/testimonial4img1.png" alt="user profile" class="size-11 rounded-full">
    <div class="space-y-[2px]">
      <p class="text-lg font-bold">Ronald Richards</p>
      <p class="text-xs">Dog Trainer</p>
    </div>
  </div>
</div>
        <div class="p-5 md:p-[30px] rounded-2xl bg-pgfy-gray-400 text-white">
  <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo5.svg" alt="logo">

  <p class="mt-4 text-lg font-bold italic md:text-xl">“Proin eget euismod nisi. Vestibulum pretium, velit tincidunt congue gravida, erat ligula venenatis velit, ac tempus augue ligula a libero. Proin cursus, ante sodales pulvinar accumsan, massa ante pulvinar.”</p>

  <div class="mt-10 flex gap-2.5">
    <img src="https://static.pagifye.com/root/images/testimonial/testimonial4img2.png" alt="user profile" class="size-11 rounded-full">
    <div class="space-y-[2px]">
      <p class="text-lg font-bold">Devon Lane</p>
      <p class="text-xs">Dog Trainer</p>
    </div>
  </div>
</div>
        <div class="p-5 md:p-[30px] rounded-2xl bg-pgfy-gray-400 text-white">
  <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo6.svg" alt="logo">

  <p class="mt-4 text-lg font-bold italic md:text-xl">“Nulla id ex felis. Mauris non ipsum finibus, ornare orci a, pulvinar ante. Morbi fringilla nulla sit amet congue bibendum. Vivamus turpis justo, dictum non nulla quis, facilisis commodo arcu. Aenean”</p>

  <div class="mt-10 flex gap-2.5">
    <img src="https://static.pagifye.com/root/images/testimonial/testimonial4img3.png" alt="user profile" class="size-11 rounded-full">
    <div class="space-y-[2px]">
      <p class="text-lg font-bold">Jane Cooper</p>
      <p class="text-xs">Dog Trainer</p>
    </div>
  </div>
</div>
      </div>
    </div>
  </section>