<section class="bg-pgfy-gray-500 py-10 md:py-28">
    <div class="container">
      <div class="mx-auto w-full space-y-4 text-center text-white md:max-w-[832px]">
        <h2 class="font-bold uppercase">our team</h2>
        <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] undefined">
  <span>We are a</span>
          <span class="text-pgfy-primary-500">team with love</span>
</h1>
        <p class="text-white/90 md:text-lg">
          To solve the world’s biggest problems, we need all kinds of
          perspectives. That’s why our leadership team brings together experts
          in food, tech, and sustainability.
        </p>
      </div>

      <div class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 md:mt-10 lg:mt-16 lg:grid-cols-3">
        <div class="relative h-[344px] w-full overflow-hidden sm:max-w-[370px] md:h-[452px] rounded-lg bg-pgfy-gray-400">
  <img src="https://static.pagifye.com/root/images/team/team2model1.png" alt="team employee" class="size-full object-cover object-top rounded-lg">

  <div class="absolute bottom-4 left-4 w-11/12 space-y-1 p-4 rounded-lg bg-pgfy-gray-500">
    <p class="text-lg font-bold md:text-xl text-white">
      Alex Younes
    </p>
    <p class="text-white/90">
      Founder &amp; CEO
    </p>
  </div>

  <a href="#top" class="absolute right-4 top-4">
    <img src="https://static.pagifye.com/root/images/team/arrow-btn.svg" alt="employee profile" class="size-auto">
  </a>
</div>
        <div class="relative h-[344px] w-full overflow-hidden sm:max-w-[370px] md:h-[452px] rounded-lg bg-pgfy-gray-400">
  <img src="https://static.pagifye.com/root/images/team/team2model2.png" alt="team employee" class="size-full object-cover object-top rounded-lg">

  <div class="absolute bottom-4 left-4 w-11/12 space-y-1 p-4 rounded-lg bg-pgfy-gray-500">
    <p class="text-lg font-bold md:text-xl text-white">
      Mark Zuckerberg
    </p>
    <p class="text-white/90">
      Chief Product Officer
    </p>
  </div>

  <a href="#top" class="absolute right-4 top-4">
    <img src="https://static.pagifye.com/root/images/team/arrow-btn.svg" alt="employee profile" class="size-auto">
  </a>
</div>
        <div class="relative h-[344px] w-full overflow-hidden sm:max-w-[370px] md:h-[452px] rounded-lg bg-pgfy-gray-400">
  <img src="https://static.pagifye.com/root/images/team/team2model3.png" alt="team employee" class="size-full object-cover object-top rounded-lg">

  <div class="absolute bottom-4 left-4 w-11/12 space-y-1 p-4 rounded-lg bg-pgfy-gray-500">
    <p class="text-lg font-bold md:text-xl text-white">
      Mandale Schumacher
    </p>
    <p class="text-white/90">
      Strategic Partnerships
    </p>
  </div>

  <a href="#top" class="absolute right-4 top-4">
    <img src="https://static.pagifye.com/root/images/team/arrow-btn.svg" alt="employee profile" class="size-auto">
  </a>
</div>
        <div class="relative h-[344px] w-full overflow-hidden sm:max-w-[370px] md:h-[452px] rounded-lg bg-pgfy-gray-400">
  <img src="https://static.pagifye.com/root/images/team/team2model4.png" alt="team employee" class="size-full object-cover object-top rounded-lg">

  <div class="absolute bottom-4 left-4 w-11/12 space-y-1 p-4 rounded-lg bg-pgfy-gray-500">
    <p class="text-lg font-bold md:text-xl text-white">
      Guy Hawkins
    </p>
    <p class="text-white/90">
      President of Sales
    </p>
  </div>

  <a href="#top" class="absolute right-4 top-4">
    <img src="https://static.pagifye.com/root/images/team/arrow-btn.svg" alt="employee profile" class="size-auto">
  </a>
</div>
        <div class="relative h-[344px] w-full overflow-hidden sm:max-w-[370px] md:h-[452px] rounded-lg bg-pgfy-gray-400">
  <img src="https://static.pagifye.com/root/images/team/team2model5.png" alt="team employee" class="size-full object-cover object-top rounded-lg">

  <div class="absolute bottom-4 left-4 w-11/12 space-y-1 p-4 rounded-lg bg-pgfy-gray-500">
    <p class="text-lg font-bold md:text-xl text-white">
      Jenny Wilson
    </p>
    <p class="text-white/90">
      Marketing Coordinator
    </p>
  </div>

  <a href="#top" class="absolute right-4 top-4">
    <img src="https://static.pagifye.com/root/images/team/arrow-btn.svg" alt="employee profile" class="size-auto">
  </a>
</div>
        <div class="relative h-[344px] w-full overflow-hidden sm:max-w-[370px] md:h-[452px] rounded-lg bg-pgfy-gray-400">
  <img src="https://static.pagifye.com/root/images/team/team2model6.png" alt="team employee" class="size-full object-cover object-top rounded-lg">

  <div class="absolute bottom-4 left-4 w-11/12 space-y-1 p-4 rounded-lg bg-pgfy-gray-500">
    <p class="text-lg font-bold md:text-xl text-white">
      Jacob Jones
    </p>
    <p class="text-white/90">
      Web Designer
    </p>
  </div>

  <a href="#top" class="absolute right-4 top-4">
    <img src="https://static.pagifye.com/root/images/team/arrow-btn.svg" alt="employee profile" class="size-auto">
  </a>
</div>
      </div>
    </div>
  </section>