<section class="bg-pgfy-gray-500 py-10 md:py-20 lg:py-28">
    <div class="container">
  <div class="flex h-full gap-8 max-md:flex-col-reverse lg:items-center lg:gap-[60px]">
    <div class="h-max md:sticky md:top-2">
      
      <div class="relative flex items-center overflow-hidden rounded-2xl px-4 py-14 md:px-8 lg:min-h-[726px] lg:px-14 bg-pgfy-gray-400">
            <img class="w-full rounded-full object-cover object-center" src="https://static.pagifye.com/root/images/content/v2office1.png" alt="hero">
            <img src="https://static.pagifye.com/root/images/content/v2info.png" alt="information" class="absolute bottom-4 left-4 max-w-[126px] sm:bottom-8 sm:left-8 md:max-w-[158px]">
          </div>
    </div>
    <div class="h-full md:w-1/2 text-white">
      <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] md:mt-4 text-white">
  
        <span>Unlock Your Business Potential with</span>
        <span class=" text-pgfy-primary-500">Our Innovative</span>
        <span>SaaS Tools</span>
      
</h1>

      <ul class="mt-8 space-y-6 lg:mt-10">
        <li class="flex items-start gap-4">
          <img src="https://static.pagifye.com/root/images/content/v2light1.svg" alt="Advanced Analytics icon" class="">
          <img src="https://static.pagifye.com/root/images/content/v2wireframe1.svg" alt="Advanced Analytics icon" class="hidden">
          <div class="space-y-2">
            <h4 class="text-xl font-bold lg:text-2xl text-white">
              Advanced Analytics
            </h4>
            <p class=" text-pgfy-gray-50">
              Unlock your business’s full potential with our innovative SaaS
              solutions and see the difference we can make.
            </p>
          </div>
        </li>
        <li class="flex items-start gap-4">
          <img src="https://static.pagifye.com/root/images/content/v2light2.svg" alt="Advanced Analytics icon" class="">
          <img src="https://static.pagifye.com/root/images/content/v2wireframe2.svg" alt="Advanced Analytics icon" class="hidden">
          <div class="space-y-2">
            <h4 class="text-xl font-bold lg:text-2xl text-white">
              Seamless Integrations
            </h4>
            <p class=" text-pgfy-gray-50">
              Unlock your business’s full potential with our innovative SaaS
              solutions and see the difference we can make.
            </p>
          </div>
        </li>
        <li class="flex items-start gap-4">
          <img src="https://static.pagifye.com/root/images/content/v2light3.svg" alt="Advanced Analytics icon" class="">
          <img src="https://static.pagifye.com/root/images/content/v2wireframe3.svg" alt="Advanced Analytics icon" class="hidden">
          <div class="space-y-2">
            <h4 class="text-xl font-bold lg:text-2xl text-white">
              User-Friendly Design
            </h4>
            <p class=" text-pgfy-gray-50">
              Unlock your business’s full potential with our innovative SaaS
              solutions and see the difference we can make.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  </section>