<section class="py-10 md:py-20 lg:py-28 bg-pgfy-gray-500 text-white">
  <div class="container space-y-8 md:space-y-10 lg:space-y-16">
    <div class="space-y-4">
      <h2 class="text-center font-bold">Testimonial</h2>
      <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] mx-auto w-full text-center md:max-w-[960px]">
  
        <span>Perfect the</span>
        <span class="text-pgfy-primary-500">customer experience</span>
      
</h1>
    </div>

    <div class="flex items-center justify-center gap-8 max-md:flex-col md:gap-10 lg:gap-20">
      <div class="h-[420px] w-full min-w-[370px] lg:min-w-[470px] lg:max-w-[470px]">
        <img src="https://static.pagifye.com/root/images/testimonial/testimonial-v5-user.png" alt="testimonial" class="size-full rounded-2xl object-cover">
      </div>

      <div class="grow max-md:text-center">
        <p class="text-2xl font-bold lg:text-3xl">
          "I cannot thank Pagifye website builder enough for their exceptional
          service and support. From the moment I connected with their team, I
          felt welcomed and valued. The entire process with care and
          professionalism."
        </p>
        <p class="mt-6 flex flex-col gap-2">
          <span class="text-xl font-bold">Amber Stone</span>
          <span>Head of Enterprise, UserTesting</span>
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto mt-10 flex w-full max-w-[1138px] gap-x-2 overflow-x-auto lg:mt-16">
    <div class="flex min-w-[278px] shrink-0 flex-col items-center gap-6">
      <div class="h-0.5 w-full bg-gray-500/20"></div>
      <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo1.svg" alt="testimonial" class="object-cover">
    </div>
    <div class="flex min-w-[278px] shrink-0 flex-col items-center gap-6">
      <div class="h-0.5 w-full bg-gray-500/20"></div>
      <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo2.svg" alt="testimonial" class="object-cover">
    </div>
    <div class="flex min-w-[278px] shrink-0 flex-col items-center gap-6">
      <div class="h-0.5 w-full bg-gray-500/20"></div>
      <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo3.svg" alt="testimonial" class="object-cover">
    </div>
    <div class="flex min-w-[278px] shrink-0 flex-col items-center gap-6">
      <div class="h-0.5 w-full bg-gray-500/20"></div>
      <img src="https://static.pagifye.com/root/images/testimonial/testimonial4WhiteLogo4.svg" alt="testimonial" class="object-cover">
    </div>
  </div>
</section>