<section class="bg-pgfy-gray-500 py-10 md:py-28">
    <div class="container">
      <div class="mx-auto w-full space-y-4 text-center text-white md:max-w-[832px]">
        <h2 class="font-bold uppercase">our team</h2>
        <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] undefined">
  
          <span>We are a</span>
          <span class="text-pgfy-primary-500">team with love</span>
        
</h1>
        <p class="md:text-lg">
          To solve the world’s biggest problems, we need all kinds of
          perspectives. That’s why our leadership team brings together experts
          in food, tech, and sustainability.
        </p>
      </div>
    </div>

    <div class="relative mx-auto w-full max-w-[1220px]">
      <div class="mx-auto mt-8 flex w-full gap-5 overflow-hidden px-4 md:mt-10 md:gap-[30px] lg:mt-16 lg:max-w-[1210px]">
        <div class="w-full space-y-4 rounded-lg">
  <div class="h-[290px] w-full min-w-[270px] max-w-[290px] rounded-lg bg-pgfy-primary-500">
    <img src="https://static.pagifye.com/root/images/team/team2model1.png" alt="Alex Younes" class="size-full object-cover object-top rounded-lg">
  </div>

  <div class="text-white">
    <p class="mb-1 text-lg font-bold md:text-xl">Alex Younes</p>
    <p class="opacity-80">Founder &amp; CEO</p>

    <div class="mt-5 flex items-center gap-2">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
    </div>
  </div>
</div>
        <div class="w-full space-y-4 rounded-lg">
  <div class="h-[290px] w-full min-w-[270px] max-w-[290px] rounded-lg bg-pgfy-primary-500">
    <img src="https://static.pagifye.com/root/images/team/team2model2.png" alt="Marvin McKinney" class="size-full object-cover object-top rounded-lg">
  </div>

  <div class="text-white">
    <p class="mb-1 text-lg font-bold md:text-xl">Marvin McKinney</p>
    <p class="opacity-80">Chief Product Officer</p>

    <div class="mt-5 flex items-center gap-2">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
    </div>
  </div>
</div>
        <div class="w-full space-y-4 rounded-lg">
  <div class="h-[290px] w-full min-w-[270px] max-w-[290px] rounded-lg bg-pgfy-primary-500">
    <img src="https://static.pagifye.com/root/images/team/team2model3.png" alt="Jacob Jones" class="size-full object-cover object-top rounded-lg">
  </div>

  <div class="text-white">
    <p class="mb-1 text-lg font-bold md:text-xl">Jacob Jones</p>
    <p class="opacity-80">Director of Engineering</p>

    <div class="mt-5 flex items-center gap-2">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
    </div>
  </div>
</div>
        <div class="w-full space-y-4 rounded-lg">
  <div class="h-[290px] w-full min-w-[270px] max-w-[290px] rounded-lg bg-pgfy-primary-500">
    <img src="https://static.pagifye.com/root/images/team/team2model4.png" alt="Mandale Schumacher" class="size-full object-cover object-top rounded-lg">
  </div>

  <div class="text-white">
    <p class="mb-1 text-lg font-bold md:text-xl">Mandale Schumacher</p>
    <p class="opacity-80">Strategic Partnerships </p>

    <div class="mt-5 flex items-center gap-2">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
    </div>
  </div>
</div>
        <div class="w-full space-y-4 rounded-lg">
  <div class="h-[290px] w-full min-w-[270px] max-w-[290px] rounded-lg bg-pgfy-primary-500">
    <img src="https://static.pagifye.com/root/images/team/team2model1.png" alt="Alex Younes" class="size-full object-cover object-top rounded-lg">
  </div>

  <div class="text-white">
    <p class="mb-1 text-lg font-bold md:text-xl">Alex Younes</p>
    <p class="opacity-80">Founder &amp; CEO</p>

    <div class="mt-5 flex items-center gap-2">
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/facebook-nobg.svg" alt="Facebook" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/linkedin-nobg.svg" alt="LinkedIn" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/youtube-nobg.svg" alt="Youtube" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
      <a href="#top" class="group flex size-8 items-center justify-center rounded-full transition duration-300 bg-pgfy-gray-400 hover:bg-pgfy-primary-500">
        <img src="https://static.pagifye.com/root/images/team/github-nobg.svg" alt="github" class="brightness-0 invert group-hover:brightness-100 group-hover:invert-0">
      </a>
    </div>
  </div>
</div>
      </div>

      <div class="max-xl:hidden">
        <div class="flex size-11 cursor-pointer items-center justify-center rounded-full border border-transparent bg-white transition-colors hover:border-pgfy-primary-500 absolute left-0 top-[36%] -translate-y-1/2">
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.96172 10.6633L8.58672 16.2883C8.76284 16.4644 9.00171 16.5634 9.25078 16.5634C9.49985 16.5634 9.73872 16.4644 9.91484 16.2883C10.091 16.1122 10.1899 15.8733 10.1899 15.6242C10.1899 15.3752 10.091 15.1363 9.91484 14.9602L5.89062 10.9375H17.375C17.6236 10.9375 17.8621 10.8387 18.0379 10.6629C18.2137 10.4871 18.3125 10.2487 18.3125 10C18.3125 9.75137 18.2137 9.51292 18.0379 9.3371C17.8621 9.16129 17.6236 9.06252 17.375 9.06252H5.89062L9.91328 5.03751C10.0894 4.86139 10.1883 4.62252 10.1883 4.37345C10.1883 4.12438 10.0894 3.88551 9.91328 3.70939C9.73716 3.53327 9.49829 3.43433 9.24922 3.43433C9.00015 3.43433 8.76128 3.53327 8.58516 3.70939L2.96016 9.33439C2.87274 9.4216 2.80342 9.52523 2.75616 9.63931C2.70891 9.75339 2.68466 9.87569 2.68481 9.99917C2.68495 10.1226 2.70949 10.2449 2.75701 10.3589C2.80453 10.4728 2.8741 10.5763 2.96172 10.6633Z" fill="#0F2C24"></path>
        </svg>
    </div>
        <div class="flex size-11 cursor-pointer items-center justify-center rounded-full border border-transparent bg-white transition-colors hover:border-pgfy-primary-500 absolute right-2 top-[36%] -translate-y-1/2">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.5383 10.6633L11.9133 16.2883C11.7372 16.4644 11.4983 16.5634 11.2492 16.5634C11.0001 16.5634 10.7613 16.4644 10.5852 16.2883C10.409 16.1122 10.3101 15.8733 10.3101 15.6242C10.3101 15.3752 10.409 15.1363 10.5852 14.9602L14.6094 10.9375H3.125C2.87636 10.9375 2.6379 10.8387 2.46209 10.6629C2.28627 10.4871 2.1875 10.2487 2.1875 10C2.1875 9.75137 2.28627 9.51292 2.46209 9.3371C2.6379 9.16129 2.87636 9.06252 3.125 9.06252H14.6094L10.5867 5.03751C10.4106 4.86139 10.3117 4.62252 10.3117 4.37345C10.3117 4.12438 10.4106 3.88551 10.5867 3.70939C10.7628 3.53327 11.0017 3.43433 11.2508 3.43433C11.4999 3.43433 11.7387 3.53327 11.9148 3.70939L17.5398 9.33439C17.6273 9.4216 17.6966 9.52523 17.7438 9.63931C17.7911 9.75339 17.8153 9.87569 17.8152 9.99917C17.815 10.1226 17.7905 10.2449 17.743 10.3589C17.6955 10.4728 17.6259 10.5763 17.5383 10.6633Z" fill="#0F2C24"></path>
        </svg>
    </div>
      </div>

      <div class="mx-auto mt-8 hidden justify-center gap-4 max-xl:flex">
        <div class="flex size-11 cursor-pointer items-center justify-center rounded-full border border-transparent bg-white transition-colors hover:border-pgfy-primary-500 ">
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.96172 10.6633L8.58672 16.2883C8.76284 16.4644 9.00171 16.5634 9.25078 16.5634C9.49985 16.5634 9.73872 16.4644 9.91484 16.2883C10.091 16.1122 10.1899 15.8733 10.1899 15.6242C10.1899 15.3752 10.091 15.1363 9.91484 14.9602L5.89062 10.9375H17.375C17.6236 10.9375 17.8621 10.8387 18.0379 10.6629C18.2137 10.4871 18.3125 10.2487 18.3125 10C18.3125 9.75137 18.2137 9.51292 18.0379 9.3371C17.8621 9.16129 17.6236 9.06252 17.375 9.06252H5.89062L9.91328 5.03751C10.0894 4.86139 10.1883 4.62252 10.1883 4.37345C10.1883 4.12438 10.0894 3.88551 9.91328 3.70939C9.73716 3.53327 9.49829 3.43433 9.24922 3.43433C9.00015 3.43433 8.76128 3.53327 8.58516 3.70939L2.96016 9.33439C2.87274 9.4216 2.80342 9.52523 2.75616 9.63931C2.70891 9.75339 2.68466 9.87569 2.68481 9.99917C2.68495 10.1226 2.70949 10.2449 2.75701 10.3589C2.80453 10.4728 2.8741 10.5763 2.96172 10.6633Z" fill="#0F2C24"></path>
        </svg>
    </div>
        <div class="flex size-11 cursor-pointer items-center justify-center rounded-full border border-transparent bg-white transition-colors hover:border-pgfy-primary-500 ">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.5383 10.6633L11.9133 16.2883C11.7372 16.4644 11.4983 16.5634 11.2492 16.5634C11.0001 16.5634 10.7613 16.4644 10.5852 16.2883C10.409 16.1122 10.3101 15.8733 10.3101 15.6242C10.3101 15.3752 10.409 15.1363 10.5852 14.9602L14.6094 10.9375H3.125C2.87636 10.9375 2.6379 10.8387 2.46209 10.6629C2.28627 10.4871 2.1875 10.2487 2.1875 10C2.1875 9.75137 2.28627 9.51292 2.46209 9.3371C2.6379 9.16129 2.87636 9.06252 3.125 9.06252H14.6094L10.5867 5.03751C10.4106 4.86139 10.3117 4.62252 10.3117 4.37345C10.3117 4.12438 10.4106 3.88551 10.5867 3.70939C10.7628 3.53327 11.0017 3.43433 11.2508 3.43433C11.4999 3.43433 11.7387 3.53327 11.9148 3.70939L17.5398 9.33439C17.6273 9.4216 17.6966 9.52523 17.7438 9.63931C17.7911 9.75339 17.8153 9.87569 17.8152 9.99917C17.815 10.1226 17.7905 10.2449 17.743 10.3589C17.6955 10.4728 17.6259 10.5763 17.5383 10.6633Z" fill="#0F2C24"></path>
        </svg>
    </div>
      </div>
    </div>
  </section>