<section class="bg-pgfy-gray-500 py-10 md:py-20 lg:py-28">
    <div class="container">
      <div class="flex flex-col gap-6 md:gap-12 lg:gap-16">
        <div class="flex flex-col items-center justify-center gap-4">
          <div class="text-base font-bold text-white">WHY OUR PLATFORM</div>
          <div class="max-w-[788px] text-center">
            <h1 class="text-4xl font-bold capitalize md:text-[40px] md:leading-[48px] lg:text-5xl lg:leading-[56px] text-white">
  
              <span>Unlock Your Business Potential with</span>
              <span class="text-pgfy-primary-500">Our Innovative</span>
              <span>SaaS Tools</span>
            
</h1>
          </div>
          <div class="max-w-[650px] text-center text-lg text-white/80">
            Unlock your business’s full potential with our innovative SaaS
            solutions and see the difference we can make.
          </div>
        </div>
        <div class="flex gap-8 max-md:flex-col md:gap-12 lg:items-center lg:gap-16">
  <div class="h-max max-lg:w-full md:sticky md:top-2 md:max-w-[530px]">
    
    <img class="w-full rounded-2xl object-contain object-left" src="https://static.pagifye.com/root/images/content/v3man1.png" alt="manImage">
  </div>

  <ul class="space-y-8 md:w-2/3 md:space-y-12 lg:space-y-16">
    <li class="space-y-4">
      <h4 class="text-2xl font-bold capitalize lg:text-3xl text-white">
        Advanced Analytics
      </h4>
      <p class="text-justify lg:text-lg text-white/80">
        Et voluptatem omnis id reprehenderit dolorem et dolorem ipsa est sint
        autem et nemo molestiae est molestiae rerum eum voluptatem vitae. Eum
        amet ipsum ab incidunt corporis sed neque maxime est ipsam excepturi et
        iusto quasi sit quas pariatur. Eum amet ipsum ab incidunt corporis sed
        neque maxime est ipsam excepturi et iusto quasi sit.
      </p>
    </li>
    <li class="space-y-4">
      <h4 class="text-2xl font-bold capitalize lg:text-3xl text-white">
        Mission
      </h4>
      <p class="text-justify lg:text-lg text-white/80">
        Lorem ipsum dolor sit amet. Aut beatae laborum ea Quis assumenda ut
        earum quis. Ad error deleniti aut sunt tempora ea asperiores illo et
        fugiat velit est placeat eveniet ut dicta quibusdam. Eum amet ipsum ab
        incidunt corporis sed neque maxime est ipsam excepturi et iusto.
      </p>
    </li>
  </ul>
</div>
      </div>
    </div>
  </section>